{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'presentations/login.css' %}">

<title>e-GUCE</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>



	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>InfoCentre-GUCE</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="/" role="form" method="post">
				    {% csrf_token %}

					<input class="text" type="text" name="Username" placeholder="Username" required="">
					<br>
					<input class="text" type="password" name="password" placeholder="Password" required="">
										<br>

					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox" >
							<span>Keep Me Login</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="SIGNIN">
				</form>
				<p>Don't have an Account? <a href="#"> Ask For Registration!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p> <b> GUCE</b><a href="#" target="_blank">Site Guce</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
