{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'presentation/test.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'presentation\MDB\css\bootstrap.min.css' %}"rel="stylesheet" id="bootstrap-css">
<script src="{% static 'presentation\MDB\js\bootstrap.min.js' %}"></script>
<script src="{% static 'presentation\MDB\js\jquery.js' %}"></script>

<!------ Include the above in your HEAD tag ---------->




<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Material Design Login Form -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-5715866801509976"
     data-ad-slot="3213535644"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>




<form method="post"  role="form" action="/">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Utilisateur">
    <input type="password" name="password" placeholder="Mot de passe">
    <input type="submit" value="login" />
</form>





<hgroup>
  <h1>Material Design Form</h1>
 
</hgroup>
<form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <button type="button" class="button buttonBlue">Subscribe
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
  <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank">Google</a></p>
</footer>