{% extends "visualisations/layout.html" %}

{% load static %}


{% block title %}InfoCentre Guce{% endblock %}

{% block content %}

<!--iframe src={{link}} style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe!-->
<iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src="http://localhost:5601/app/kibana#/dashboard/9aafb980-acbf-11ea-b89d-ab5b65c9b3ee?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-2y%2Cto%3Anow))" height="800" width="1000"></iframe>  <!-- plugins:js -->
{% endblock %}
  <iframe src="" height="600" width="800"></iframe>
 <p>Vous êtes identifié!</p>
<p><a href="/logout/">Sortir</a></p>