{% extends "visualisations/layout.html" %}

{% load static %}


{% block title %}InfoCentre Guce{% endblock %}

{% block content %}
<div>
{{link}}
</div>
<!--iframe src={{link}} style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
<iframe id ="the_iframe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen src={{link}} height="600" width="900"></iframe>  <!-- plugins:js -->

<iframe style="height= max-content ;" width="850" id="the_iframe" name="sizeframe" scrolling="no" frameborder="yes" onload=resize_iframe() src={{link}}></iframe>


{% endblock %}
