

{% load static %}
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{% static 'presentation/login.css' %}">


  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- plugins:css -->
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/flag-icon-css/css/flag-icon.min.css'%}">
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/jvectormap/jquery-jvectormap.css'%}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{%static 'presentation/assets/css/demo/style.css'%}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{%static 'presentation/assets/images/favicon.png'%}" />

    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<script src="{%static 'presentation/assets/js/preloader.js'%}"></script>

  

  <div class="body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    {% block sidebar %}
    <aside class="mdc-drawer mdc-drawer--dismissible mdc-drawer--open">
      <div class="mdc-drawer__header" style="margin: unset;">
        <a href="#" class="brand-logo">
          <img src="{%static 'presentation/assets/images/sidebar/logo-guce.png'%}" style="width:70% ;display: block;margin-left: auto;margin-right: auto;" alt="logo">
        </a>
      </div>
      <div class="mdc-drawer__content">
        
        <div class="mdc-list-group">
          <nav class="mdc-list mdc-drawer-menu">
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-drawer-link" href="index.html">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">home</i>
                Dashboard
              </a>
            </div>
           <br>





            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link"  href="#" data-toggle="expansionPanel" data-target="idb-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                              <P style=" margin-bottom: 0.1rem !important ;
                  margin-top: 0;">
                            Indicateur Doing Business </P>
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="idb-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/DDT">
                      
                         Délai de traitement des dossiers 
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/PDMP">
                      délai moyen des procedures
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-drawer-link" href="pages/ui-features/typography.html">
                      pas encore spécifié 
                    </a>
                  </div>
                </nav>
              </div>
            </div>



            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="Dossier-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                Dossier
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="Dossier-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/DEND1">
                      
                       Evolution du nombre de dossier
                    </a>
                  </div>
                  
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/DEND2">
                      
                       Evolution du nombre de dossier (en cours, complément d'information,signé,rejet)
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/DEND4">
                      evolution du nombre de dossier journalier en fonctoin de son etat(CI,initié,rejeté,signé))
                    </a>
                  </div>
                  
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/DEND3">
                      
                       Evolution du nombre de dossier comparé sur deux ans
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/DB">
                      
                       Bilan des dossiers 
                    </a>
                  </div>
                  
                  
                  
                </nav>
              </div>
            </div>



            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="procedure-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                Procedures
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="procedure-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/PPP">
                      proportion des procédures en cours
                    </a>
                  </div>
                  
                  
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/PNDPP">
                      nombre de dossier par procédures
                    </a>
                  </div>
                  
                  

                </nav>
              </div>
            </div>



            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="Partenaire-sub-menu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">dashboard</i>
                Partenaire
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="Partenaire-sub-menu">
                <nav class="mdc-list mdc-drawer-submenu">
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/PAENDT">
                      Evolution du nombre de dossier traité
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/PADRCI">
                      Délai de réponse au Complement d'information
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="/infoCentre/vues/PAETTP">
                      evolution de traitement de tâche par partenaire
                    </a>
                  </div>
                </nav>
              </div>
            </div>

            
            <div class="mdc-list-item mdc-drawer-item">
              <a class="mdc-expansion-panel-link" href="#" data-toggle="expansionPanel" data-target="sample-page-submenu">
                <i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">pages</i>
                Prediction
                <i class="mdc-drawer-arrow material-icons">chevron_right</i>
              </a>
              <div class="mdc-expansion-panel" id="sample-page-submenu">
                <nav class="mdc-list mdc-drawer-submenu">
                 
                 
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="pages/samples/500.html">
                      <P> <br>
                      prediction sur les procedures<br></P>
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="pages/samples/505.html">
                      prediction sur les dossiers 
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="pages/samples/login.html">
                      prediction sur les incidents 
                    </a>
                  </div>
                  <div class="mdc-list-item mdc-drawer-item">
                    <a class="mdc-link" href="pages/samples/register.html">
                      prediction du comportement des partenaires
                    </a>
                  </div>
                </nav>
              </div>
            </div>
            
          </nav>
        </div>
        <div class="profile-actions">
          <a href="javascript:;">Settings</a>
          <span class="divider"></span>
          <a href="/logout/">Logout</a>
        </div>
     
      </div>
    </aside>
        {% endblock %}
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:../../partials/_navbar.html -->
        {% block navbars %}
          <header class="mdc-top-app-bar">
            <div class="mdc-top-app-bar__row">
              <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button sidebar-toggler">menu</button>
              
              </div>
              <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section-right">
                <div class="menu-button-container menu-profile d-none d-md-block">
                  <button class="mdc-button mdc-menu-button">
                    <span class="d-flex align-items-center">
                      <span class="figure">
                        <img src="{%static 'presentation/images/avatar.png'%}" alt="user" class="user">
                      </span>
                      <span class="user-name">{{user.username}}</span>
                    </span>
                  </button>
                  <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon-only">
                          <i class="mdi mdi-account-edit-outline text-primary"></i>
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                          <h6 class="item-subject font-weight-normal">Edit profile</h6>
                        </div>
                      </li>
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon-only">
                          <i class="mdi mdi-settings-outline text-primary"></i>                      
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                          <h6 class="item-subject font-weight-normal"><a href="/logout">Logout</a></h6>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="divider d-none d-md-block"></div>
                <div class="menu-button-container d-none d-md-block">
                  <button class="mdc-button mdc-menu-button">
                    <i class="mdi mdi-settings"></i>
                  </button>
                  <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon-only">
                          <i class="mdi mdi-alert-circle-outline text-primary"></i>
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                            <a href="/admin"><h6 class="item-subject font-weight-normal" style=" color:red;" >Administration</h6>  </a>
                        </div>
                      </li>
                      
                    </ul>
                  </div>
                </div>
                <div class="menu-button-container">
                  <button class="mdc-button mdc-menu-button">
                    <i class="mdi mdi-bell"></i>
                  </button>
                  <div class="mdc-menu mdc-menu-surface" tabindex="-1">
                    <h6 class="title"> <i class="mdi mdi-bell-outline mr-2 tx-16"></i> Notifications</h6>
                    <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon">
                          <i class="mdi mdi-email-outline"></i>
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                          <h6 class="item-subject font-weight-normal">You received a new message</h6>
                          <small class="text-muted"> 6 min ago </small>
                        </div>
                      </li>
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon">
                          <i class="mdi mdi-account-outline"></i>                      
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                          <h6 class="item-subject font-weight-normal">New user registered</h6>
                          <small class="text-muted"> 15 min ago </small>
                        </div>
                      </li>
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon">
                          <i class="mdi mdi-alert-circle-outline"></i>
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                          <h6 class="item-subject font-weight-normal">System Alert</h6>
                          <small class="text-muted"> 2 days ago </small>
                        </div>
                      </li> 
                      <li class="mdc-list-item" role="menuitem">
                        <div class="item-thumbnail item-thumbnail-icon">
                          <i class="mdi mdi-update"></i>
                        </div>
                        <div class="item-content d-flex align-items-start flex-column justify-content-center">
                          <h6 class="item-subject font-weight-normal">You have a new update</h6>
                          <small class="text-muted"> 3 days ago </small>
                        </div>
                      </li> 
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
          
          </header>
                <!-- partial:../../partials/_navbar.html -->

        {% endblock %}
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper" style="color: white; background-color: white;">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              {% block content %}{% endblock %}
            </div>
          </div>
        </main>
        <!-- partial:../../partials/_footer.html -->
        <footer>
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                <span class="tx-14">Copyright © 2020 <a href="https://www.bootstrapdash.com/" target="_blank">GUCE</a>. All rights reserved.</span>
              </div>
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop d-flex justify-content-end">
                <div class="d-flex align-items-center">
                  <a href="">Contactez-nous</a>
                  <span class="vertical-divider"></span>
                  <a href="">site Web</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- partial -->
      </div>
    </div>
  </div>

</body>
<script src="{%static 'presentation/assets/vendors/js/vendor.bundle.base.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="{%static 'presentation/assets/vendors/chartjs/Chart.min.js'%}"></script>
  <script src="{%static 'presentation/assets/vendors/jvectormap/jquery-jvectormap.min.js'%}"></script>
  <script src="{%static 'presentation/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js'%}"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{%static 'presentation/assets/js/material.js'%}"></script>
  <script src="{%static 'presentation/assets/js/misc.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{%static 'presentation/assets/js/dashboard.js'%}"></script>
  <!-- End custom js for this page-->
</html>