{% extends "admin/base.html" %}
<!-- plugins:css -->
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/mdi/css/materialdesignicons.min.css'%}">
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/css/vendor.bundle.base.css'%}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/flag-icon-css/css/flag-icon.min.css'%}">
  <link rel="stylesheet" href="{%static 'presentation/assets/vendors/jvectormap/jquery-jvectormap.css'%}">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="{%static 'presentation/assets/css/demo/style.css'%}">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="{%static 'presentation/assets/images/favicon.png'%}" />

    <link rel="stylesheet" href="style.css">

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
