{% extends "visualisations/index.html" %}

{% load static %}


{% block title %}InfoCentre Guce{% endblock %}

{% block headContent %}

<div class="container" style="background-color: #4285f4 !important;">
            <div class="row">
             
              <div class="col"><a href="/infoCentre/DeadlineIndicatorsVue/KPI=1.1" type="button" class="btn btn-primary">
              Délai d’obtention du document final</a>
              </div>
              <div class="col" ><a href="/infoCentre/DeadlineIndicatorsVue/kpi=1.2" type="button" class="btn btn-primary">
              Taux de variation des dossiers </a></div>
            </div>
          </div>
{% endblock %}
