{% extends "visualisations/index.html" %}

{% load static %}


{% block title %}InfoCentre Guce{% endblock %}

{% block headContent %}

<div class="container" style="background-color: #4285f4 !important;">



            <div class="row">
                {% if frames %}
                      {% for frame in frames %}
                        <div class="col"><a href="/infoCentre/Etude/{{parent.code}}/{{frame.code}}" type="button" class="btn btn-primary">
                          {{frame.code}}</a>
                        </div>
                      {% endfor %}
              {% else %}
              {% endif %}
              
              
            </div>
          </div>
{% endblock %}
