{% extends "visualisations/index.html" %}

{% load static %}


{% block title %}InfoCentre Guce{% endblock %}

{% block headContent %}

<div class="container" style="background-color: #4285f4 !important;">
            <div class="row">
             
              <div class="col"><a href="/infoCentre/PartenaireVue/PAENDT" type="button" class="btn btn-primary">
              Rendement dans le traitement des dossiers</a>
              </div>
              <div class="col"><a href="/infoCentre/PartenaireVue/PADRCI" type="button" class="btn btn-primary">
              Comportement face au Complement d'information</a>
              </div>
              <div class="col"><a href="/infoCentre/PartenaireVue/PAETTP" type="button" class="btn btn-primary">
              evolution de traitement de tâche par partenaire</a>
              </div>
              
              
              
             
              
            </div>
</div>
{% endblock %}
