{% extends "x.html" %}

{% load static %}


{% block title %}InfoCentre Guce{% endblock %}

{% block headContent %}

<div class="container" style="background-color: #4285f4 !important;">
            <div class="row">
             
              <div class="col"><a href="/infoCentre/ProcedureVue/PPPEncours" type="button" class="btn btn-primary">
              Etude des procédures</a>
              </div>
              
              
             
              
            </div>
</div>
{% endblock %}
